@import "../../scss/mixins";

.step_two_scammer {
  display: flex;
  color: white;
  margin-top: 200px;
  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 0;
    //padding-bottom: 200px;
  }

  img {
    width: 60%;
    @media (max-width: 1600px) {
      width: 50%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .wrapper_text {
    width: 50%;
    margin-left: 5%;
    //@media (max-width: 1200px) {
    //  width: 60%;
    //}
    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0;
    }
    h3 {
      @include p-desktop;
      @media (max-width: 768px) {
        width: 100%;
        font-size: 48px;
        line-height: 57px;
      }
    }

    p {
      @include p-scrammer;
      @media (max-width: 768px) {
        width: 100%;
        font-size: 30px;
        line-height: 36px;
      }
    }
  }

}