.root_new_year {
  background: #104eff;
  padding-bottom: 200px;

  //@media (max-width: 1440px) {
  //  padding: 150px;
  //}
  //@media (max-width: 1200px) {
  //  padding: 80px;
  //}
  @media (max-width: 768px) {
    padding-bottom: 550px;
  }

}