@import "../../scss/mixins";

.step_one_deliver {
  display: flex;
  color: white;
  margin-top: 200px;
  flex-direction: column;
  position: relative;
  align-items: center;

  hr {
    width: 100%;
    background: #2CD5C4;
    height: 5px;
    position: absolute;
    border-radius: 30px;
    top: -90px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 0;
    //padding-bottom: 200px;
  }


  .wrapper_box_deliver {
    display: flex;
    color: white;
    align-items: center;
    width: 90%;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      margin-top: 0;
      //padding-bottom: 200px;
    }

    img {
      margin-right: 5%;
      //width: 50%;
      @media (max-width: 1600px) {
        //width: 50%;
      }
      @media (max-width: 768px) {
        //width: 100%;
        margin-right: 0;
      }
    }

    .wrapper_text {
      //width: 50%;
      //margin-left: 5%;
      //@media (max-width: 1200px) {
      //  width: 60%;
      //}

      @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
      }

      h3 {
        @include p-main-deliver;
        @media (max-width: 768px) {
          width: 100%;
          //font-size: 48px;
          //line-height: 57px;
          margin: 20px 0;
        }
      }
    }

  }
}