@import "../../scss/mixins";
@import "../../scss/layout";

.step_three_deliver {
  display: flex;
  flex-direction: column;
  text-align: center;


  button {
    @include label-champion-24;
    max-width: 510px;
    margin-top: 45px;
    text-transform: none;
    cursor: pointer;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 35px 75px;
    border-radius: 32px;
    @media (max-width: 768px) {
      max-width: none;
      padding: 20px 65px;
      font-size: 24px;
      line-height: 28px;
    }
    @media (max-width: 480px) {
      padding: 12px 45px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  h3 {
    @include h3-deliver;
    color: white;
    margin: 250px 0 75px;
    @media (max-width: 768px) {
      margin: 50px 0 40px;
      width: 100%;
      font-size: 42px;
      line-height: 52px;
      text-align: start;
    }
  }

  .wrapper_button {
    width: 100%;
    display: flex;
    justify-content: center;
  }


}